<section class="backdrop">

  <form
    [formGroup]="addComputerForm"
    (ngSubmit)="onSubmit()"
    class="form-popup text-center border border-light p-5"
  >
    <p class="h2 mb-4 title">Add new computer</p>
      <div class="form-row mb-4">
        <div class="col-6">
          <p class="input-label">Name:<span class="asterisk"> *</span></p>
        </div>
        <div class="col-4">
          <input
            formControlName="name"
            type="text"
            class="form-control"
            maxlength="50"
            [ngClass]="{ 'is-invalid': submitted && form.name.errors }"/>
          <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
            <div *ngIf="form.name.errors.required">Name is required</div>
            <div *ngIf="form.name.errors.maxlength">Name must be less than 50 characters</div>
          </div>
        </div>
      </div>
    <div class="form-row mb-4">
      <div class="col-6">
        <p class="input-label">SSD Amount:<span class="asterisk"> *</span></p>
      </div>
      <div class="col-4">
        <input
          formControlName="ssdAmount"
          type="text"
          class="form-control"
          maxlength="1000"
          [ngClass]="{ 'is-invalid': submitted && form.ssdAmount.errors }"/>
        <div *ngIf="submitted && form.ssdAmount.errors" class="invalid-feedback">
          <div *ngIf="form.ssdAmount.errors.required">SSD Amount is required</div>
        </div>
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col-6">
        <p class="input-label">RAM Amount:<span class="asterisk"> *</span></p>
      </div>
      <div class="col-4">
        <input
          formControlName="ramAmount"
          type="text"
          class="form-control"
          maxlength="1000"
          [ngClass]="{ 'is-invalid': submitted && form.ramAmount.errors }"/>
        <div *ngIf="submitted && form.ramAmount.errors" class="invalid-feedback">
          <div *ngIf="form.ramAmount.errors.required">RAM Amount is required</div>
        </div>
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col-6">
        <p class="input-label">OS Type:<span class="asterisk"> *</span></p>
      </div>
      <div class="col-4">
        <select formControlName="osType" class="custom-select" [ngClass]="{ 'is-invalid': submitted && form.osType.errors }">
          <option [ngValue]="0">Windows</option>
          <option [ngValue]="1">Linux</option>
          <option [ngValue]="2">Mac</option>
        </select>
        <div *ngIf="submitted && form.osType.errors" class="invalid-feedback">
          <div *ngIf="form.osType.errors.required">OS Type is required</div>
        </div>
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col-6">
        <p class="input-label">CPU:</p>
      </div>
      <div class="col-4">
        <select formControlName="cpu" class="custom-select">
          <option *ngFor="let cpu of cpus; let key = index" [ngValue]="cpu.id">{{cpu.name}}</option>
        </select>
      </div>
    </div>

    <button class="btn btn-info" type="submit" name="submit">
      Add
    </button>
    <input type="button" class="btn" (click)="cancel()" value="Cancel" />
  </form>
</section>
